name: Compile with Maven

on:
  pull_request:
    branches-ignore:
      - 'gh-pages'
      - 'dependabot/**'

jobs:
  compile-on-os-with-jdk:
    strategy:
      matrix:
        os: [ 'ubuntu-latest', 'windows-latest' ]
        java: [ '11', '17' ]
    runs-on: ${{ matrix.os }}
    name: Compile on ${{ matrix.os }} with JDK ${{ matrix.java }}
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v3
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'
        cache: 'maven'
    - name: Build with Maven
      run: mvn -B package --file pom.xml
